# Bibliotecas
import numpy as np
from sklearn.datasets import load_iris
import pandas as pd
import matplotlib.pyplot as plt
import streamlit as st
import panel as pn

# Dados
x = [1, 2, 3, 4, 5]
y = [2, 4, 6, 8, 6]

# Criar um gráfico de linha com pontos marcados
plt.plot(x, y, marker='o', linestyle='-', color='green')

# Adicionar título e rótulos aos eixos
plt.title('Linha com Pontos')
plt.xlabel('Eixo X')
plt.ylabel('Eixo Y')

# Adicionar os valores nos pontos
for i, txt in enumerate(y):
    plt.text(x[i], y[i], f'{y[i]}', ha='right', va='bottom')

# Mostrar o gráfico
plt.show()
